* {
  box-sizing: border-box;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: 0.3s;
  opacity: 0.7;
}
img {
  width: 100%;
  height: auto;
}
.wrap {
  width: 85%;
  margin: 0 auto;
}
.wrap-s{
  width: 90%;
  margin: 0 auto;
}
.ptb-m {
  padding: 80px 0;
}
.page-mv{
  display: flex;
  justify-content: center;
  background: url(../img/mv.png)center/cover;
  height: 250px;
  color: #ffffff;
  align-items: center;
}
.ttl {
  font-size: 30px;
}
.btn {
  display: block;
  width: 300px;
  background-color: #cd0224;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/*header */
header {
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}
.header__ttl {
  font-size: 24px;
  width: 80px;
}
.header__nav {
  color: #000;
}
.header__nav-list {
  display: flex;
  font-weight: bold;
}
.header__nav-item:not(:last-child) {
  margin-right: 30px;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu {
    display: inline-block;
    width: 35px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .header__nav {
    display: none;
  }
  .menu__line-top,
  .menu__line-middle,
  .menu__line-bottom {
    display: inline-block;
    width: 100%;
    position: absolute;
    background-color: #000;
    transition: 0.5s;
    height: 4px;
  }
  .menu__line-top {
    top: 0;
  }
  .menu__line-middle {
    top: 14px;
  }
  .menu__line-bottom {
    bottom: 0px;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: rotateX(100%);
  }
  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    transition: 0.7s;
  }
  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }
  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }
  .in {
    transform: translateX(100%);
  }
}

.bottom-contact {
  background-color: #f5f6f9;
  text-align: center;
}
.top-contact-txt {
  margin-top: 10px;
}
.top-contact-btn {
  margin: 30px auto 0;
}
/* footer */
.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #000;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer-nav-item:last-child:after {
  display: none;
}
.footer-copyright {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
  .wrap-s {
    width: 90%;
  }
  .footer-nav-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-copyright {
    margin-right: 0;
  }
  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer-nav-item::after {
    display: none;
  }
}
