header{
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  z-index: 1;
}
.header__ttl{
  font-size: 24px;
  width: 80px;
}
.header__nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background-color: #eee;
  text-align: center;
  transition: 0.7s;
}
.header__nav-item{
  padding-top: 80px;
}
.header__nav-list{
  list-style-type: none;
  margin-top: 50px;
}
.menu{
  display: inline-block;
  width: 35px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.menu__line-top,
.menu__line-middle,
.menu__line-bottom{
  display: inline-block;
  width: 100%;
  position: absolute;
  background-color: #000;
  transition: 0.5s;
  height: 4px;
}
.menu__line-top{
  top: 0;
}
.menu__line-middle{
  top: 14px;
}
.menu__line-bottom{
  bottom: 0px;
}
.menu.open span:nth-of-type(1){
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2){
  opacity: 0;
}
.menu.open span:nth-of-type(3){
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: rotateX(100%);
}