* {
  box-sizing: border-box;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: 0.3s;
  opacity: 0.7;
}
img {
  width: 100%;
  height: auto;
}
.wrap {
  width: 85%;
  margin: 0 auto;
}
.ptb-m {
  padding: 80px 0;
}
.ttl {
  font-size: 30px;
}
.btn {
  display: block;
  width: 300px;
  background-color: #cd0224;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/*header */

.top-mv {
  display: flex;
  background: url(../img/mv.png) center/cover;
  align-items: center;
  color: #fff;
  justify-content: center;
  height: 80vh;
}
.top-mv-main-copy {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.top-mv-sub-copy {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.top-feature {
  color: #fff;
  background-color: black;
}
.top-feature-txt {
  margin-top: 20px;
}
.top-service-ttl {
  text-align: center;
}
.top-service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-item {
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100%- (49% * 2));
}
.top-service-item:nth-child(2n) {
  margin-left: 10px;
}
.top-service-btn {
  margin: 40px auto;
}
.top-news {
  background-color: #000;
}
.top-news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-news-ttl {
  color: white;
}
.top-news-btn {
  width: 160px;
  font-size: 14px;
  padding: 7px;
}
.top-news-list {
  margin-top: 20px;
}
.top-news-item-link {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
}
.top-news-item-date {
  margin-right: 10px;
}
/* top-blog */
.top-blog-ttl {
  text-align: center;
}
.top-blog-item-ttl {
  font-weight: bold;
  font-size: 18px;
}
.top-blog-item-date {
  margin-top: 5px;
  font-size: 14px;
  margin-right: 20px;
}
.top-blog-btn {
  margin: 40px auto 0;
}
/* top-blog end*/

/* top-company */
.top-company-list {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  padding-top: 0;
  font-size: 24px;
}
.top-company-item {
  width: 50%;
}
.top-company-link {
  background-color: #cd0224;
}
.top-recruit-link {
  background-color: #000;
}
.top-company-item-link {
  width: 100%;
  display: inline-block;
  line-height: 10;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
  .wrap-s {
    width: 90%;
  }
  .top-service-item {
    width: 100%;
    margin-right: 0;
  }
  .top-blog-item{
    width: 100%;
    margin: 0 auto;
  }
  .top-news-item-link {
    padding: 10px;
    font-size: 14px;
  }
  .footer-nav-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-copyright {
    margin-right: 0;
  }
  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer-nav-item::after {
    display: none;
  }
}
