
.ttl{
  font-size: 30px;
  font-weight: bold;
}
.service-item-ttl{
  font-size: 30px;
}
.service-item{
  padding: 20px 0;
  border-top: 1px solid #000;
  display: flex;
  flex-wrap: wrap;

}
.service-item:last-child{
  border-bottom: 1px solid #000;;
}
.service-image{
  width: 290px;
}
.sevice-item-detail{
  width: calc(100%-330px);
}